<header class="row p-3">
	<div class="col-1">
		<img class="img-fluid" alt="car logo" src="/img/car2.jpg">
	</div>
	<div class="col">
    	<h1>Car sales</h1>
    	
    	<p>The best spot on the WEB to sell and buy cars!!</p>
	</div>
</header>
