<header class="row p-3">
	<div class="col-1">
		<img class="img-fluid" alt="car logo" src="/img/car2.jpg">
	</div>
	<div class="col">
    	<h1>WF3 project</h1>
    	
    	<p>Welcome to the wf3 symfony project</p>
	</div>
</header>
